server {
    listen ${NODE_PORT};
    listen [::]:${NODE_PORT};
    server_name cleverlyeverly.localhost;
    set $ROOT /home/${USER}/src/;
    root $ROOT;
    index index.html;
    include /etc/nginx/global/static.conf;
    location / {
        try_files $uri $uri/ /index.html$is_args$args;
    }
}
